.pattern-mobile {
  background-repeat: repeat-y;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  mix-blend-mode: overlay;
  z-index: 20;
  pointer-events: none;

  @media only screen and (max-width: 768px) {
    background-image: url('../assets/img/pattern_mobile.png');
  }
}

.pattern {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 40%;
  mix-blend-mode: overlay;
  z-index: 12;
  pointer-events: none;

  @media only screen and (min-width: 769px) {
    background-image: url('../assets/img/pattern.png');
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.overlay {
  overflow-x: hidden;
  position: bottom;
  height: 115vh;
  background: url('../assets/img/main.webp') no-repeat center top;
  background-size: cover;

  .image {
    width: 100vw; // set width to full viewport width
    height: 100%; // set height to full parent height
    object-fit: cover; // scale the image to cover the entire container
    object-position: top; // start the image from the top
  }

  
}

@media only screen and (max-width: 550px) {
  .overlay{
    height: 100vh;
    background: url('../assets/img/main_mob.webp') no-repeat center top;
    background-size: cover;
  }
  
}
